[workspace]
authors = ["Samuel Ibarra <ing.samuelibarra@gmail.com>"]
channels = ["https://prefix.dev/max-nightly", "https://prefix.dev/conda-forge"]
name = "motoml"
platforms = ["linux-64", "osx-arm64"]
version = "0.0.1"
preview = ["pixi-build"]

[package]
name = "motoml"
version = "0.0.2"
description = "TOML Reader for Mojo."

[package.build]
backend = { name = "pixi-build-mojo", version = "0.1.*" }

[package.host-dependencies]
mojo-compiler = "<=1.0.0"

[package.build-dependencies]
mojo-compiler = "<=1.0.0"

[package.run-dependencies]
mojo-compiler = "<=1.0.0"

[dependencies]
mojo = ">=0.26.2.0.dev2026020205,<0.27"
motoml = { path = "." }

[tasks]
test_reflection = { cmd = "mojo tests/motoml/test_reflection.mojo" }
# TODO: CHECK DOCS
