[workspace]
authors = ["Samuel Ibarra <ing.samuelibarra@gmail.com>"]
channels = ["https://prefix.dev/max-nightly", "https://prefix.dev/conda-forge"]
name = "motoml"
platforms = ["linux-64", "osx-arm64"]
version = "0.0.1"
preview = ["pixi-build"]

[package]
name = "motoml"
version = "0.0.2"
description = "TOML Reader for Mojo."

[package.build]
backend = { name = "pixi-build-mojo", version = "0.1.*" }

[package.host-dependencies]
mojo-compiler = "<=1.0.0"

[package.build-dependencies]
mojo-compiler = "<=1.0.0"

[package.run-dependencies]
mojo-compiler = "<=1.0.0"

[dependencies]
mojo = "*"
motoml = { path = "." }


# [tasks]
# test-reflection = { cmd = "pixi run --manifest-path {{ manifest }} mojo test_reflection.mojo", cwd = "tests", args = [{arg = "manifest", default="pixi.toml"}] }
# test-parser = { cmd = "pixi run --manifest-path {{ manifest }} mojo test_parser.mojo", cwd = "tests", args = [{arg = "manifest", default="pixi.toml"}] }
# tests = [ { task = "test-parser" }, { task = "test-reflection" } ]

[tasks]
parser = { cmd = "mojo tests/stdin_parser.mojo" }

test-reflection = { cmd = "mojo test_reflection.mojo", cwd = "tests" }
test-parser = { cmd = "mojo test_parser.mojo", cwd = "tests" }
test-comptime-parser = { cmd = "mojo test_comptime_parser.mojo", cwd = "tests" }
tests = { depends-on = ["test-reflection", "test-comptime-parser", "test-parser"] }

# TODO: CHECK DOCS
